body {
    background-image: linear-gradient(to right, rgb(32, 23, 69) , rgb(121, 143, 197));
    font-family: Lora; 
    padding: 0px; margin: 0px;
}

#main { /* main DIV wrapper */
    border-radius: 10px;
    background-color: white;
    width: 1200px;
    margin: 10px auto;
    padding: 8px;
}

#top_text { /* Meal Planner App H1 */
    margin: 5px;
    /* padding-left: 10px; */
    text-align: center;
}

#total-calories {
    /* padding-left: 25px; */
    text-align: center;
    margin: 0px 0px 17px 0px;
}

/* #the_table {
    border: 1px solid black;
    width: 1200px;
} */

#the_table { /* main table .. need to figure out how to style children */
    width: 1200px;
}

#meals_go_here {
    background-color: rgb(96, 120, 180);
    color: white;
}

.items_table {
    background-color: rgb(233, 234, 240);
}

.meal_row {
    padding-left: 3px;
    border: 3px solid rgb(233, 234, 240);
}

.meal_row:hover {
    background-color: rgb(208, 210, 224);
}

.selected_item {
    border: 3px dotted red;
}

#items_go_here {
    vertical-align: top;
}

.food-icon {
    height: 25px;
}

#delete { /* all delete food buttons */
    color:red;
    display: inline;
    text-decoration: underline;
}

#delete:hover {
    cursor: pointer;
    text-decoration: none;
}

#edit { /* all edit food buttons */
    color:blue;
    display: inline;
    text-decoration: underline;
}

#edit:hover {
    cursor: pointer;
    text-decoration: none;
}

#edit_selected { /* disable colors when editing */
    display: inline;
}

#form-text {
    margin: 15px 0px 7px 0px;
}

#meal-form {
    border-left: 15px solid rgb(161, 175, 210);
    border-bottom-left-radius: 8px;
    padding-left: 12px;
}

#arrow_shell { /* gives arrow something to absolutely position from */
    position: relative; 
    width: 0; height: 0;
}

#arrow {
    height: 100px;
    display: none;
    position: absolute;
    top: 36px;
    left: 180px;
}

#meal-form > input, select {
    margin: 5px;   
}

#delete_button { /* the button that deletes everything */
    float: right;
    margin-top: -25px;
    padding: 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
}

#delete_button:hover {
    background-color: rgb(208, 0, 0);
    text-decoration: underline;
    cursor: pointer;
}