body {
    background-image: linear-gradient(to right, rgb(32, 23, 69) , rgb(121, 143, 197));
    font-family: Lora; 
    padding: 0px; margin: 0px;
}

#main { /* main DIV wrapper */
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    width: 1200px;
    margin: 10px auto;
    padding: 8px;
}

#top_text { /* Meal Planner App H1 */
    margin: 5px;
    padding-left: 10px;
}

#total-calories {
    padding-left: 25px;
    margin: 0px 0px 17px 0px;
}

#the_table {
    border: 1px solid black;
    width: 1200px;
}

#the_table { /* main table .. need to figure out how to style children */
    border: 1px solid black;
    width: 1200px;
}

#meals_go_here {
    background-color: rgb(96, 120, 180);
    color: white;
}

.meal_row {
    padding: 5px;
}

#items_go_here {
    vertical-align: top;
}

.food-icon {
    height: 25px;
}

#delete { /* all delete food buttons */
    color:red;
    display: inline;
}

#delete:hover {
    cursor: pointer;
}

#edit { /* all edit food buttons */
    color:blue;
    display: inline;
}

#edit:hover {
    cursor: pointer;
}

#form-text {
    margin: 15px 0px 7px 0px;
}

#meal-form {
    border-left: 15px solid rgb(161, 175, 210);
    border-bottom-left-radius: 8px;
    padding-left: 15px;
}

#delete_button { /* the button that deletes everything */
    float: right;
    margin-top: -36px;
    padding: 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
}

#delete_button:hover {
    background-color: rgb(208, 0, 0);
    text-decoration: underline;
    cursor: pointer;
}