body {
    background-image: linear-gradient(to right, rgb(32, 23, 69) , rgb(121, 143, 197));
    padding: 0px;
}

#main {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    width: 1200px;
    margin: auto;
    padding: 8px;
}

#top_text {
    text-align: auto;
}

#the_table {
    border: 1px solid black;
    width: 1200px;
}

#items_go_here {
    vertical-align: top;
}

#delete {
    color:red;
}

#edit {
    color:blue;
}